SmartContracts/node_modules
API/data/.env
SmartContracts/.env
SmartContracts/coverage
SmartContracts/coverage.json
SmartContracts/typechain
SmartContracts/typechain-types

# Hardhat files
SmartContracts/cache
SmartContracts/artifacts
node_modules
